<html>
    <head>
        <title> la vue  somme</title>
    </head>
    <body>
        <h1> la somme de deux nombre </h1>

        <h3> la somme de {{ x }} et {{ y }} est de {{ somme }}</h3>


        <a href="{{ path('hello3')}}">Allez à la page tableau</a>
    </body>
</html>